<h1>一覧画面</h1>
   <% if flash[:notic] %>
     <p id="notice"><font color="green">
       <%= flash[:notic] %>
     </p>
   <% end %>
<div class="main-index"> <font color="black">
 <div class="main-index_item">
 <table border="1">
  <thead>
   <tr>
    <th>id</th>
    <th>タイトル</th>
    <th>本題</th>
    <th>画像</th>
   </tr>
  </thead>
  <tbody>

    <% @lists.each.with_index(1) do |list,i| %>
   <tr>
    <td><%= i %></td>
    <td><%= link_to list.title,list_path(list.id) %></td>
    <td><%= list.body %></td>
    <td>
 <% if list.image.attached? %>
  <%= image_tag list.image ,size: "200x200"%>
  <% else %>
  <%= image_tag "no_image" ,size: "200x200" %>
 <% end %>
    </td>
    <td><%= link_to "詳細",list_path(list.id) %></td>
    <td><%= link_to "編集",edit_list_path(list.id) %></td>
    <td><%= link_to "削除",list_path(list.id),method: :delete,"data-confirm"=>"本当に削除しますか？？？"  %></td>
   </tr>
  </tbody>

  <% end %>
 </table>
  </div>

</div>

<h1><font color="black">新規投稿</h1>

<% if @list.errors.any? %>
<%= @list.errors.count %> error prohibited this book from being saved:
<ul>
  <% @list.errors.full_messages.each do |message|%>
<li><%= message %></li>
<% end %>
</ul>
<% end %>

<%= form_with model: @list, method: :post do |f|%>
<h4>タイトル</h4>
<%= f.text_field :title %>
<h4>本文</h4>
<%= f.text_area :body %>
<h4>画像</h4>
<%= f.file_field :image ,accept: "image/*" %>
<%= f.submit "保存" %>
<% end %>
